# node-postgres configuration
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=postgres
PGDATABASE=openmusic
PGPORT=5432

# nodemailer SMTP authentication
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_ADDRESS=
MAIL_PASSWORD=

# Message broker
RABBITMQ_SERVER=amqp://localhost